NodeRed/DemoFlows
[{"id":"da983a4a.0e0028","type":"tab","label":"GUI-Wohnzimmer"},{"id":"842d959e.cd1fe8","type":"tab","label":"GUI-System"},{"id":"2647a6fb.72afda","type":"tab","label":"GUI-Clock"},{"id":"99eb51b9.f51bc","type":"tab","label":"ImperiHome"},{"id":"a8876e30.01f6f","type":"tab","label":"Act-System"},{"id":"6906e188.90e9a","type":"tab","label":"ESP"},{"id":"fb35026f.fb15e","type":"tab","label":"GSheet"},{"id":"d96fa34c.a2f62","type":"tab","label":"Backup"},{"id":"e9c87fc7.158ac","type":"tab","label":"GUI-Buttons1"},{"id":"63e53ea1.0f918","type":"tab","label":"GUI-Buttons2"},{"id":"9dc96a2e.c0e518","type":"tab","label":"Fritz"},{"id":"9cc48427.d88c78","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4b20508b.c3ff","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4da83833.f31148","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#205c62","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#205c62","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#33929c","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#205c62","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD.MM.YYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8c06e13d.17584","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#24aa82","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#24aa82","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#43d7ab","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#24aa82","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ace18d7f.fca84","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#205c62","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#205c62","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#33929c","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#205c62","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD.MM.YYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b6f99d3d.85004","type":"ui_tab","z":"","name":"Messung","icon":"dashboard","order":3},{"id":"14bbae2c.7b60c2","type":"ui_group","z":"","name":"Default","tab":"b6f99d3d.85004","disp":true,"width":"6"},{"id":"a18ae37f.2840c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#24aa82","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#24aa82","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#43d7ab","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#24aa82","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9688985d.6d3c58","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#205c62","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#205c62","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#33929c","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#205c62","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD.MM.YYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fa31d80e.ca53a8","type":"ui_tab","z":"","name":"System","icon":"dashboard","order":2},{"id":"cfe70b9.246aaf8","type":"ui_group","z":"","name":"System","tab":"fa31d80e.ca53a8","order":2,"disp":true,"width":"6"},{"id":"fa6f23f4.894bd","type":"ui_group","z":"","name":"Netzwerk-Status","tab":"fa31d80e.ca53a8","order":1,"disp":true,"width":"9"},{"id":"93bbe0d3.a6147","type":"ui_group","z":"","name":"Clock","tab":"2bef4723.0cc228","disp":false,"width":"5"},{"id":"2bef4723.0cc228","type":"ui_tab","z":"","name":"Clock","icon":"dashboard","order":6},{"id":"703ea3b8.a96fac","type":"ui_group","z":"","name":"Group 2","tab":"1b88d9ca.042f86","order":3,"disp":true,"width":"6"},{"id":"6804b940.578858","type":"ui_group","z":"","name":"Starter","tab":"1b88d9ca.042f86","order":4,"disp":true,"width":"2"},{"id":"eec8bbd5.3032a8","type":"ui_group","z":"","name":"Group 1","tab":"1b88d9ca.042f86","order":2,"disp":true,"width":"2"},{"id":"d1a897a0.6c75e8","type":"ui_group","z":"","name":"Keypad","tab":"1b88d9ca.042f86","order":5,"disp":true,"width":"6"},{"id":"521abf71.e9812","type":"ui_group","z":"","name":"Control Panel","tab":"1b88d9ca.042f86","order":1,"disp":true,"width":"8"},{"id":"1b88d9ca.042f86","type":"ui_tab","z":"","name":"Button Panel","icon":"dashboard","order":7},{"id":"867aab7c.d5b7d8","type":"ui_group","z":"","name":"Default","tab":"aa230a6d.f2c408","disp":true,"width":"6"},{"id":"aa230a6d.f2c408","type":"ui_tab","z":"","name":"Buttons 2","icon":"dashboard","order":8},{"id":"569abc5b.6ae414","type":"ui_tab","z":"","name":"Wohnzimmer","icon":"fa-bank","order":1},{"id":"b233522a.9ac0a","type":"ui_group","z":"","name":"Media","tab":"569abc5b.6ae414","order":1,"disp":true,"width":"6"},{"id":"d767d50b.117738","type":"ui_group","z":"","name":"Licht","tab":"569abc5b.6ae414","order":2,"disp":true,"width":"6"},{"id":"3e068867.33a7d8","type":"ui_group","z":"","name":"Komfort-Funktionen","tab":"569abc5b.6ae414","order":3,"disp":true,"width":"6"},{"id":"3c271c4d.a24054","type":"fritzbox-config","z":"","name":"FritzConfig","host":"192.168.0.1","port":"49000","ssl":false},{"id":"5b779988.fdd518","type":"soap-config","z":"9dc96a2e.c0e518","wsdl":"http://www.webservicex.net/globalweather.asmx?WSDL","auth":"0","user":"admin","pass":"Borabora88","key":"","cert":"","token":""},{"id":"953c7e67.0ff45","type":"mqtt in","z":"6906e188.90e9a","name":"","topic":"esplogon","qos":"0","broker":"9cc48427.d88c78","x":100,"y":80,"wires":[["3e1f3e67.94bb72","7948322f.a0302c"]]},{"id":"3e1f3e67.94bb72","type":"esplogin","z":"6906e188.90e9a","name":"","lat":"50.6399","lon":"6.7042","start":"sunrise","end":"sunset","duskoff":"0","dawnoff":"0","x":290,"y":140,"wires":[["a39f93fc.cc5cf","2e67d14f.57340e"],[],[],[]]},{"id":"a39f93fc.cc5cf","type":"mqtt out","z":"6906e188.90e9a","name":"","topic":"toesp","qos":"","retain":"","broker":"9cc48427.d88c78","x":490,"y":120,"wires":[]},{"id":"7948322f.a0302c","type":"debug","z":"6906e188.90e9a","name":"","active":true,"console":"false","complete":"false","x":290,"y":80,"wires":[]},{"id":"2e67d14f.57340e","type":"debug","z":"6906e188.90e9a","name":"","active":false,"console":"false","complete":"payload","x":510,"y":80,"wires":[]},{"id":"68c3f28d.d76b1c","type":"mqtt in","z":"6906e188.90e9a","name":"esp1-temp","topic":"esp1/fromesp/temperature","qos":"2","broker":"9cc48427.d88c78","x":100,"y":480,"wires":[["72e815ac.b7e78c","cb3478c1.4c7398"]]},{"id":"c31c231d.6386","type":"mqtt out","z":"6906e188.90e9a","name":"","topic":"esp1/toesp","qos":"","retain":"","broker":"9cc48427.d88c78","x":450,"y":300,"wires":[]},{"id":"72e815ac.b7e78c","type":"debug","z":"6906e188.90e9a","name":"","active":false,"console":"false","complete":"false","x":270,"y":440,"wires":[]},{"id":"4b941eb9.812e9","type":"mqtt in","z":"6906e188.90e9a","name":"esp1-humi","topic":"esp1/fromesp/humidity","qos":"2","broker":"9cc48427.d88c78","x":100,"y":580,"wires":[["77524f3b.beeb","e3d072ed.0a467"]]},{"id":"77524f3b.beeb","type":"debug","z":"6906e188.90e9a","name":"","active":false,"console":"false","complete":"false","x":270,"y":540,"wires":[]},{"id":"cb3478c1.4c7398","type":"ui_gauge","z":"6906e188.90e9a","name":"","group":"14bbae2c.7b60c2","order":0,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":250,"y":480,"wires":[]},{"id":"e3d072ed.0a467","type":"ui_gauge","z":"6906e188.90e9a","name":"","group":"14bbae2c.7b60c2","order":0,"width":0,"height":0,"gtype":"gage","title":"Humi","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":250,"y":580,"wires":[]},{"id":"bb047744.437428","type":"function","z":"fb35026f.fb15e","name":"get cells","func":"\nreturn msg.payload.feed.entry;","outputs":1,"noerr":0,"x":240,"y":180,"wires":[["48f4dec1.b3a16"]]},{"id":"48f4dec1.b3a16","type":"debug","z":"fb35026f.fb15e","name":"","active":false,"console":"false","complete":"true","x":390,"y":180,"wires":[]},{"id":"ef7b06a9.33a5d8","type":"http request","z":"fb35026f.fb15e","name":"[GET] google spreadsheet","method":"GET","url":"https://spreadsheets.google.com/feeds/list/0Aqglj65pqAwmdEh4a1otT3lmYnN0TGV1Q2JkdndVUnc/od6/public/basic?hl=en_US&alt=json","tls":"","x":300,"y":60,"wires":[["9c2a1fe0.8752d"]]},{"id":"7cde9498.874c2c","type":"inject","z":"fb35026f.fb15e","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":60,"wires":[["ef7b06a9.33a5d8"]]},{"id":"9c2a1fe0.8752d","type":"json","z":"fb35026f.fb15e","name":"","x":230,"y":120,"wires":[["bb047744.437428"]]},{"id":"f8784bc7.55bcf8","type":"ui_template","z":"2647a6fb.72afda","group":"93bbe0d3.a6147","name":"Time","order":0,"width":"5","height":"3","format":"<script>\n    var daylist = [\"So\", \"Mo\", \"Di\", \"Mi\", \"Do\", \"Fr\", \"Sa\"];\n    (function(scope){ \n            scope.$watch('msg', function(msg) {\n               if (typeof(msg.payload) != \"undefined\") $(\"#DSEGTemp\").text(msg.payload);\n               if (typeof(msg.colour) != \"undefined\") \n                            { \n                             if (msg.colour==\"orange\"){ $(\".Clock-Wrapper\").css('background-color', '#fb7c00');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"green\") { $(\".Clock-Wrapper\").css('background-color', '#66ac66');  $(\".lcdClock\").css('color', '#222'); }                            \n                             if (msg.colour==\"blue\")  { $(\".Clock-Wrapper\").css('background-color', '#8888ff');  $(\".lcdClock\").css('color', '#222'); }\n                             if (msg.colour==\"yellow\"){ $(\".Clock-Wrapper\").css('background-color', '#bbbb44');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"white\") { $(\".Clock-Wrapper\").css('background-color', '#aaaaaa');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"pink\")  { $(\".Clock-Wrapper\").css('background-color', '#ff8888');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"red\")  { $(\".Clock-Wrapper\").css('background-color', '#aa2222');  $(\".lcdClock\").css('color', '#ccaa22'); } \n                            }\n            });\n    })(scope);\n\n    function genTimerStrings(tm, num){\n    \n    \tvar i;\n    \tvar ret = tm.toString(10);\n    \tvar left = ret.length;\n    \n    \tif( left < num){\n    \t\tfor(i=0; i<( num - left ); i++ ){\n    \t\t\tret = String(0) + ret;\n    \t\t}\n    \t}\n    \treturn ret;\n    }\n\n    function updateTimer(){\n    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \n    \ttm_mon = genTimerStrings(tm_mon, 2);\n    \ttm_date = genTimerStrings(tm_date, 2);\n    \ttm_hour = genTimerStrings(tm_hour, 2);\n    \ttm_min = genTimerStrings(tm_min, 2);\n    \ttm_sec = genTimerStrings(tm_sec, 2);\n    \ttm_day = daylist[tm_day];\n    \n    \tif( tm_msec > 499 ){\n    \t\tcolon = ' ';\n    \t}else{\n    \t\tcolon = ':';\n    \t}\n    \n    \tdocument.getElementById(\"DSEGClock\").innerHTML = tm_hour + colon + tm_min + \"<span style=\\\"font-size:30px;\\\">\"  + tm_sec + \"</span>\";\n    \tdocument.getElementById(\"DSEGClock-Year\").innerHTML = \"<span class=\\\"D7MI\\\">\" + tm_date + \" . \" + tm_mon + \" . \" + tm_year + ' ' + \"</span><span class=\\\"D14MI\\\">\" + \" - \" + tm_day  +  \".\" + \"</span>\";\n    \n    \tsetTimeout(\"updateTimer()\", 500 - date.getMilliseconds()%500 );\n    }\n\n    updateTimer();\n</script>\n\n<style type=\"text/css\">\n.lcdClock {\n\tbackground-color:#fbfbfb;\n\tfont-size:100%;\n\tpadding-left:10px;\n\tpadding-right:10px;\n\tpadding-bottom:10px;\n\tmax-width:190px;\n\tline-height:160%;\n\tcolor:#222;\n\tfont-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;\n}\n\n@font-face {\n  font-family: \"D7MI\";\n  src: url(\"/myfonts/DSEG7Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D14MI\";\n  src: url(\"/myfonts/DSEG14Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D7MBI\";\n  src: url(\"/myfonts/DSEG7Modern-BoldItalic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"DWEATHER\";\n  src: url(\"/myfonts/DSEGWeather.woff\") format('woff');\n}\n\n.D7MI {\nfont-family: \"D7MI\";\n}\n\n.D7MBI {\nfont-family: \"D7MBI\";\n}\n\n.D14MI {\nfont-family: \"D14MI\";\n}\n\n.DWEATHER {\nfont-family: \"DWEATHER\";\nfont-size:72px;\nheight:72px;\n}\n\n.Clock-Wrapper{\n\tposition:relative;\n\tborder:6px solid #000;\n\tborder-radius:9px;\n\theight:68px;\n\twidth:190px;\n\tbackground-color:#fb7c00;\n\tbackground-color:#66ac66;\n\n\tbox-shadow: 4px 4px 28px 0px rgba(0,0,0,0.3) inset; \n}\n\n.Clock-Time-Background{\n\tz-index:50;\n\tcolor:rgba(0,0,0,0.15);\n}\n\n.Clock-Time-Front{\n\tz-index:100;\n}\n\n.Clock-Time-Background,.Clock-Time-Front {\n   \tposition:absolute;\n\ttop:38px;\n\tleft:5px; \n\tfont-size:42px;\n}\n\n.Clock-Year-Background{\n\tz-index:50;\n;\n\tcolor:rgba(0,0,0,0.1);\n\tfont-size:18px;\n}\n\n.Clock-Year-Front{\n\tz-index:100;\n}\n\n.Clock-Year-Background,.Clock-Year-Front {\n   \tposition:absolute;\n\ttop:2px;\n\tleft:5px; \n\tfont-size:18px;\n}\n\n.temp { z-index:100; }\n.tempBack { z-index:50; color:rgba(0,0,0,0.1); }\n.temp,.tempBack {\n   \tposition:absolute;\n\ttop:28px;\n\tleft:210px; \n\tfont-size:42px;\n}\n\n.tempc { z-index:100; }\n.tempcBack { z-index:50; color:rgba(0,0,0,0.1); }\n.tempc,.tempcBack {\n   \tposition:absolute;\n\ttop:36px;\n\tleft:278px; \n\tfont-size:24px;\n}\n\n#DSEG7_OUTPUT{\n\tfont-family: \"D7MI\";\n}\n\n#DSEG14_OUTPUT{\n\tfont-family: \"D14MI\";\n}\n\n#DSEG14_OUTPUT, #DSEG7_OUTPUT{\n\tfont-size:18px;\n\tmargin-top:2px;\n\tmargin-bottom:10px;\n}\n\n</style>\n\n\n<div class=\"Clock-Wrapper center lcdClock\">\n\t<span class=\"Clock-Time-Background D7MBI\">88:88<span style=\"font-size:30px;\">88</span></span>\n\t<span id=\"DSEGClock\" class=\"Clock-Time-Front D7MBI\"></span>\n\t<span class=\"Clock-Year-Background\"><span class=\"D7MI\">88 . 88 . 2088</span><span class=\"D14MI\"> - ~~</span></span>\n\t<span id=\"DSEGClock-Year\" class=\"Clock-Year-Front\"></span>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":false,"x":310,"y":260,"wires":[[]]},{"id":"f3ebccf4.bea32","type":"inject","z":"2647a6fb.72afda","name":"green","topic":"","payload":"green","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":160,"wires":[["4bee8f29.56459"]]},{"id":"a6249b67.393c88","type":"inject","z":"2647a6fb.72afda","name":"orange","topic":"","payload":"orange","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":200,"wires":[["4bee8f29.56459"]]},{"id":"4bee8f29.56459","type":"function","z":"2647a6fb.72afda","name":"","func":"msg.colour=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["f8784bc7.55bcf8"]]},{"id":"119dd4a6.5dd18b","type":"inject","z":"2647a6fb.72afda","name":"blue","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":240,"wires":[["4bee8f29.56459"]]},{"id":"925a409e.a05fa","type":"inject","z":"2647a6fb.72afda","name":"yellow","topic":"","payload":"yellow","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":280,"wires":[["4bee8f29.56459"]]},{"id":"aab29970.12e978","type":"inject","z":"2647a6fb.72afda","name":"white","topic":"","payload":"white","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":320,"wires":[["4bee8f29.56459"]]},{"id":"1c908602.5ff04a","type":"inject","z":"2647a6fb.72afda","name":"pink","topic":"","payload":"pink","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":360,"wires":[["4bee8f29.56459"]]},{"id":"b81d40d9.fa27d","type":"inject","z":"2647a6fb.72afda","name":"red and light text","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":true,"x":150,"y":400,"wires":[["4bee8f29.56459"]]},{"id":"7e60ca43.f70f14","type":"inject","z":"d96fa34c.a2f62","name":"Daily backup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 2 * * *","once":false,"x":140,"y":80,"wires":[["a5795442.a98e68"]]},{"id":"a5795442.a98e68","type":"function","z":"d96fa34c.a2f62","name":"Prep data","func":"// global variables separated by semicolon to be saved\nvar globallist = \"btn_state;btn_time;timehour;timeminute;start;irrenable;irrdays;alert1_triggered;alert1_value;alert2_triggered;alert2_value;torrent_keywords;tonernotification\";\nvar mylist = globallist.split(\";\");\n\nvar outputs = [];\n\nfor (i=0; i<mylist.length; i++) {\n    outputs.push({ key : mylist[i], type: typeof global.get(mylist[i]), value: global.get(mylist[i])});\n}\n      \n      \nmsg.payload = outputs;\nreturn msg;\n\n//msg.payload=typeof global.get(\"torrent_keywords\");\n","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["de070423.ae7a18"]]},{"id":"2a7f4a59.028616","type":"comment","z":"d96fa34c.a2f62","name":"Save global variables","info":"","x":120,"y":40,"wires":[]},{"id":"bb8866d1.dc9088","type":"comment","z":"d96fa34c.a2f62","name":"Restore global variables","info":"","x":130,"y":140,"wires":[]},{"id":"79045029.41174","type":"inject","z":"d96fa34c.a2f62","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":120,"y":180,"wires":[["3f330beb.5c7814"]]},{"id":"b5c09be9.3b7048","type":"file","z":"d96fa34c.a2f62","name":"","filename":"/home/pi/global.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":660,"y":80,"wires":[]},{"id":"3f330beb.5c7814","type":"file in","z":"d96fa34c.a2f62","name":"","filename":"/home/pi/global.json","format":"utf8","x":320,"y":180,"wires":[["c53dd81d.047f48"]]},{"id":"e1872fb.c733bd","type":"function","z":"d96fa34c.a2f62","name":"Restore","func":"var output = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    switch (msg.payload[i].type) {\n        case 'undefined': \n            // the global variable probably had no value, nothing needs to be restored\n            output.push(msg.payload[i].key + \" is undefined.\");\n            break;\n        case 'number':\n            if (msg.payload[i].value===\"NaN\") {\n                // there is no valid value to be restored, skip this variable\n                output.push(msg.payload[i].key + \" is NaN.\");\n            } else {\n                if (msg.payload[i].value.toString().indexOf(\".\")>-1) {\n                    // the value appears to be a float\n                    global.set(msg.payload[i].key,parseFloat(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                } else {\n                    global.set(msg.payload[i].key,parseInt(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                }\n            }\n            break;\n        case 'string':\n            global.set(msg.payload[i].key,msg.payload[i].value);\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n        case 'boolean':\n            global.set(msg.payload[i].key,msg.payload[i].value===\"true\");\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n    }\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":240,"wires":[["c639d74d.f1c4c8","42450a9d.89e9c4","9f1d6108.c75f","25a4499b.4914b6","602ad6c8.3cb2f8","6d01e916.748a18","aaa33550.a38118"]]},{"id":"de070423.ae7a18","type":"json","z":"d96fa34c.a2f62","name":"","x":470,"y":80,"wires":[["b5c09be9.3b7048"]]},{"id":"c53dd81d.047f48","type":"json","z":"d96fa34c.a2f62","name":"","x":530,"y":180,"wires":[["e1872fb.c733bd"]]},{"id":"c639d74d.f1c4c8","type":"function","z":"d96fa34c.a2f62","name":"Alert 1 restore","func":"msg.topic = \"alert1\";\nmsg.payload = global.get(\"alert1_value\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["5a4a264a.5f5d78"]]},{"id":"42450a9d.89e9c4","type":"function","z":"d96fa34c.a2f62","name":"Alert 2 restore","func":"msg.topic = \"alert2\";\nmsg.payload = global.get(\"alert2_value\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["7d8035b7.d42a4c"]]},{"id":"5a4a264a.5f5d78","type":"link out","z":"d96fa34c.a2f62","name":"","links":[],"x":575,"y":240,"wires":[]},{"id":"7d8035b7.d42a4c","type":"link out","z":"d96fa34c.a2f62","name":"","links":["fb56e62a.86d0a8"],"x":575,"y":280,"wires":[]},{"id":"9f1d6108.c75f","type":"function","z":"d96fa34c.a2f62","name":"Irrigation hour restore","func":"msg.topic = \"timehour\";\nmsg.payload = global.get(\"timehour\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":320,"wires":[["95ebeb0c.8ccf28"]]},{"id":"95ebeb0c.8ccf28","type":"link out","z":"d96fa34c.a2f62","name":"","links":["822055f4.a4b038"],"x":575,"y":320,"wires":[]},{"id":"25a4499b.4914b6","type":"function","z":"d96fa34c.a2f62","name":"Irrigation minute restore","func":"msg.topic = \"timeminute\";\nmsg.payload = global.get(\"timeminute\");\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["e8be9834.2f9c98"]]},{"id":"e8be9834.2f9c98","type":"link out","z":"d96fa34c.a2f62","name":"","links":["2312fe3d.563952"],"x":575,"y":360,"wires":[]},{"id":"602ad6c8.3cb2f8","type":"function","z":"d96fa34c.a2f62","name":"Irrigation enabler restore","func":"msg.topic = \"irrenable\";\nmsg.payload = global.get(\"irrenable\");\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["515f0dd8.adc6a4"]]},{"id":"515f0dd8.adc6a4","type":"link out","z":"d96fa34c.a2f62","name":"","links":["4e8c0522.fe637c"],"x":575,"y":400,"wires":[]},{"id":"6d01e916.748a18","type":"function","z":"d96fa34c.a2f62","name":"Irrigation enabler restore","func":"msg.topic = \"irrdays\";\nmsg.payload = global.get(\"irrdays\");\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["e8e9aaa7.cdeec8"]]},{"id":"e8e9aaa7.cdeec8","type":"link out","z":"d96fa34c.a2f62","name":"","links":["b42ee7b4.c38618"],"x":575,"y":440,"wires":[]},{"id":"aaa33550.a38118","type":"function","z":"d96fa34c.a2f62","name":"Torrent keyword restore","func":"msg.topic = \"torrent_keywords\";\nmsg.payload = global.get(\"torrent_keywords\");\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["8e087e.095cc78"]]},{"id":"8e087e.095cc78","type":"link out","z":"d96fa34c.a2f62","name":"","links":["e3a03eba.fa3b4"],"x":575,"y":480,"wires":[]},{"id":"b240e96.ce39c18","type":"inject","z":"6906e188.90e9a","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0-22 * * *","once":false,"x":100,"y":240,"wires":[["5273b7a5.99fe18"]]},{"id":"2d732f44.abfca","type":"function","z":"6906e188.90e9a","name":"get Temp","func":"msg.payload=\"{temperature?}\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["c31c231d.6386"]]},{"id":"6e599622.0082a8","type":"function","z":"6906e188.90e9a","name":"get Humi","func":"msg.payload=\"{humidity?}\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["f8beec10.11e3f"]]},{"id":"5273b7a5.99fe18","type":"delay","z":"6906e188.90e9a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":300,"wires":[["2d732f44.abfca","ba09b1af.dff01"]]},{"id":"f8beec10.11e3f","type":"mqtt out","z":"6906e188.90e9a","name":"","topic":"esp1/toesp","qos":"","retain":"","broker":"9cc48427.d88c78","x":450,"y":360,"wires":[]},{"id":"ba09b1af.dff01","type":"delay","z":"6906e188.90e9a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":360,"wires":[["6e599622.0082a8"]]},{"id":"a9168133.faff","type":"ui_button","z":"842d959e.cd1fe8","name":"","group":"cfe70b9.246aaf8","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"#ff8000","icon":"fa-refresh","payload":"Neustart","payloadType":"str","topic":"system/reboot","x":100,"y":280,"wires":[["4cb4b42a.915c5c","dd99a90c.479148"]]},{"id":"3b4c1a92.c5d596","type":"ping","z":"842d959e.cd1fe8","name":"Ping PiZW","host":"192.168.188.65","timer":"10","x":100,"y":60,"wires":[["c132204d.fdf52"]]},{"id":"51c0388b.b63c08","type":"ui_gauge","z":"842d959e.cd1fe8","name":"","group":"fa6f23f4.894bd","order":2,"width":"3","height":"3","gtype":"gage","title":"PiZW","label":"ms","format":"{{value | number:0}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":60,"wires":[]},{"id":"f0ca02c9.ee594","type":"ui_button","z":"842d959e.cd1fe8","name":"Poweroff","group":"cfe70b9.246aaf8","order":2,"width":0,"height":0,"passthru":false,"label":"Power Off","color":"","bgcolor":"#d80b0a","icon":"fa-power-off","payload":"Shutdown","payloadType":"str","topic":"","x":100,"y":340,"wires":[["c56d079e.9c7f28"]]},{"id":"6d9217d3.1f4fe8","type":"ping","z":"842d959e.cd1fe8","name":"Ping Internet","host":"www.google.de","timer":"10","x":110,"y":100,"wires":[["58da028c.45200c"]]},{"id":"ddcf8d9d.a2e18","type":"ui_gauge","z":"842d959e.cd1fe8","name":"","group":"fa6f23f4.894bd","order":1,"width":"3","height":"3","gtype":"gage","title":"Google","label":"ms","format":"{{value | number:0}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":100,"wires":[]},{"id":"ddf456cd.7c1388","type":"ui_template","z":"e9c87fc7.158ac","group":"703ea3b8.a96fac","name":"blue","order":3,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":930,"y":400,"wires":[[]]},{"id":"f47481e3.39ae","type":"ui_template","z":"e9c87fc7.158ac","group":"703ea3b8.a96fac","name":"red","order":1,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":927.9999694824219,"y":316,"wires":[[]]},{"id":"e9e4101a.46ba7","type":"ui_template","z":"e9c87fc7.158ac","group":"703ea3b8.a96fac","name":"green","order":2,"width":"2","height":"2","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Hello World'})\"> \n    Green<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":930,"y":360,"wires":[[]]},{"id":"d3426c23.5b098","type":"ui_template","z":"e9c87fc7.158ac","group":"703ea3b8.a96fac","name":"","order":4,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#16a085\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":940,"y":480,"wires":[[]]},{"id":"6205b904.f11938","type":"ui_template","z":"e9c87fc7.158ac","group":"703ea3b8.a96fac","name":"","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":940,"y":440,"wires":[[]]},{"id":"302bda40.3fb566","type":"ui_template","z":"e9c87fc7.158ac","group":"703ea3b8.a96fac","name":"on","order":6,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#34495e\" ng-click=\"send({payload: 'Hello World'})\"> \n    On\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":930,"y":520,"wires":[[]]},{"id":"8d047780.292028","type":"ui_template","z":"e9c87fc7.158ac","group":"703ea3b8.a96fac","name":"off","order":7,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#8e44ad\" ng-click=\"send({payload: 'Hello World'})\"> \n    Off\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":930,"y":560,"wires":[[]]},{"id":"af82319f.2f76e","type":"ui_template","z":"e9c87fc7.158ac","group":"703ea3b8.a96fac","name":"stuff","order":8,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 2px 2px 2px 2px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":805,"y":314,"wires":[[]]},{"id":"2200fa00.c3d026","type":"ui_template","z":"e9c87fc7.158ac","group":"6804b940.578858","name":"Red Starter","order":10,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg  width=\"105px\" height=\"105px\" version=\"1.1\" \nviewBox=\"0 0 76 76\">\n <g id=\"Button_1\">\n  <rect fill=\"#4B4B4D\" width=\"76\" height=\"76\"/>\n\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#848688' : '#1A1A1A'}\">\n  <polygon stroke=\"black\" stroke-width=\"0.380524\" points=\"72,72 4,72 0,76 76,76 76,0 72,4 \"/>\n    </g>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#1A1A1A' : '#848688'}\">\n  <polygon  points=\"4,4 72,4 76,0 0,0 0,76 4,72 \"/>\n    </g>\n    <g ng-style=\"{stroke: (msg.payload || 0) % 2 === 0 ? 'black' : '#E6E7E8'}\">\n  <line fill=\"none\" stroke-width=\"0.380524\" x1=\"0\" y1=\"0\" x2=\"4\" y2= \"4\" />\n    </g>\n\n  <circle fill=\"none\" stroke=\"red\" stroke-width=\"1.8\" cx=\"38\" cy=\"38\" r=\"29\"/>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'red' : 'none'}\">\n      <circle  cx=\"38\" cy=\"38\" r=\"26\" />\n    </g>\n  <polyline fill=\"none\" stroke=\"#D2D3D5\" stroke-width=\"0.380524\" points=\"4,72 4,4 72,4 \"/>\n\n\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">OFF</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : 'none'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">OFF</text>\n  </g>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":1137.8333129882812,"y":624.3334350585938,"wires":[["22f2f0d2.f1a56"]]},{"id":"3aa64870.450488","type":"ui_template","z":"e9c87fc7.158ac","group":"703ea3b8.a96fac","name":"","order":11,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg  width=\"105px\" height=\"105px\" version=\"1.1\" \nviewBox=\"0 0 76 76\">\n <g id=\"Button_1\">\n  <rect fill=\"#4B4B4D\" width=\"76\" height=\"76\"/>\n  <polygon fill=\"#1A1A1A\" stroke=\"black\" stroke-width=\"0.380524\" points=\"72,72 4,72 0,76 76,76 76,0 72,4 \"/>\n  <polygon fill=\"#848688\" points=\"4,4 72,4 76,0 0,0 0,76 4,72 \"/>\n\n    <g ng-style=\"{stroke: (msg.payload || 0) % 2 === 0 ? 'red' : '#FFF212'}\">\n  <circle fill=\"none\" stroke-width=\"1.8\" cx=\"38\" cy=\"38\" r=\"29\"/>\n    </g>\n    \n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FFF212' : 'green'}\">\n      <circle  cx=\"38\" cy=\"38\" r=\"26\" />\n    </g>\n  <line fill=\"none\" stroke=\"#E6E7E8\" stroke-width=\"0.380524\" x1=\"0\" y1=\"0\" x2=\"4\" y2= \"4\" />\n  <polyline fill=\"none\" stroke=\"#D2D3D5\" stroke-width=\"0.380524\" points=\"4,72 4,4 72,4 \"/>\n\n\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FFF212'}\">\n    <text x=\"37\" y=\"42\" style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"12\" font-family=\"Droid Sans\">GREEN</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'red' : 'none'}\">\n    <text x=\"37\" y=\"42\" style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"12\" font-family=\"Droid Sans\">YELLOW</text>\n  </g>\n </g>\n</svg>\n</md-button>\n\n","storeOutMessages":false,"fwdInMessages":false,"x":691.8334045410156,"y":789.3334197998047,"wires":[["cb223ff1.c16e4","64e2536f.5c861c"]]},{"id":"1be5c204.a6a54e","type":"ui_template","z":"e9c87fc7.158ac","group":"703ea3b8.a96fac","name":"","order":12,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg  width=\"105px\" height=\"105px\" version=\"1.1\" \nviewBox=\"0 0 76 76\">\n <g id=\"Button_1\">\n  <rect fill=\"#4B4B4D\" width=\"76\" height=\"76\"/>\n  <polygon fill=\"#1A1A1A\" stroke=\"black\" stroke-width=\"0.380524\" points=\"72,72 4,72 0,76 76,76 76,0 72,4 \"/>\n  <polygon fill=\"#848688\" points=\"4,4 72,4 76,0 0,0 0,76 4,72 \"/>\n  <circle fill=\"none\" stroke=\"green\" stroke-width=\"1.8\" cx=\"38\" cy=\"38\" r=\"29\"/>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : 'green'}\">\n      <circle  cx=\"38\" cy=\"38\" r=\"26\" />\n    </g>\n  <line fill=\"none\" stroke=\"#E6E7E8\" stroke-width=\"0.380524\" x1=\"0\" y1=\"0\" x2=\"4\" y2= \"4\" />\n  <polyline fill=\"none\" stroke=\"#D2D3D5\" stroke-width=\"0.380524\" points=\"4,72 4,4 72,4 \"/>\n\n\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"38\" y=\"35\" style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"12\" font-family=\"Droid Sans\">GREEN</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"38\" y=\"52\" style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"12\" font-family=\"Droid Sans\">ON</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : 'none'}\">\n    <text x=\"38\" y=\"42\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"12\" font-family=\"Droid Sans\">GREEN</text>\n  </g>\n </g>\n</svg>\n</md-button>\n\n\n\n","storeOutMessages":false,"fwdInMessages":false,"x":692.8334045410156,"y":884.3334197998047,"wires":[["9d442ad6.1e0d58"]]},{"id":"cb223ff1.c16e4","type":"debug","z":"e9c87fc7.158ac","name":"","active":false,"console":"false","complete":"false","x":919.8334655761719,"y":792.0001068115234,"wires":[]},{"id":"e6f7e93f.f127a8","type":"ui_template","z":"e9c87fc7.158ac","group":"eec8bbd5.3032a8","name":"ON/OFF 1","order":14,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg  width=\"105px\" height=\"105px\" version=\"1.1\" \nviewBox=\"0 0 76 76\">\n <g id=\"Button_1\">\n  <rect fill=\"#4B4B4D\" width=\"76\" height=\"76\"/>\n  <polygon fill=\"#1A1A1A\" stroke=\"black\" stroke-width=\"0.380524\" points=\"72,72 4,72 0,76 76,76 76,0 72,4 \"/>\n  <polygon fill=\"#848688\" points=\"4,4 72,4 76,0 0,0 0,76 4,72 \"/>\n  <circle fill=\"none\" stroke=\"#FFF212\" stroke-width=\"1.8\" cx=\"38\" cy=\"38\" r=\"29\"/>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'red' : 'green'}\">\n      <circle  cx=\"38\" cy=\"38\" r=\"26\" />\n    </g>\n  <line fill=\"none\" stroke=\"#E6E7E8\" stroke-width=\"0.380524\" x1=\"0\" y1=\"0\" x2=\"4\" y2= \"4\" />\n  <polyline fill=\"none\" stroke=\"#D2D3D5\" stroke-width=\"0.380524\" points=\"4,72 4,4 72,4 \"/>\n\n\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">ON</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : 'none'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">OFF</text>\n  </g>\n </g>\n</svg>\n</md-button>\n\n\n","storeOutMessages":false,"fwdInMessages":false,"x":744.9999389648438,"y":520.0000839233398,"wires":[["cc66dcaf.3845b"]]},{"id":"7c3b38c7.aff0b8","type":"ui_template","z":"e9c87fc7.158ac","group":"703ea3b8.a96fac","name":"Switch","order":15,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg  width=\"105px\" height=\"105px\" version=\"1.1\" \nviewBox=\"0 0 76 76\">\n <g id=\"Button_1\">\n  <rect fill=\"#4B4B4D\" width=\"76\" height=\"76\"/>\n  <polygon fill=\"#1A1A1A\" stroke=\"black\" stroke-width=\"0.380524\" points=\"72,72 4,72 0,76 76,76 76,0 72,4 \"/>\n  <polygon fill=\"#848688\" points=\"4,4 72,4 76,0 0,0 0,76 4,72 \"/>\n  <circle fill=\"none\" stroke=\"#FFF212\" stroke-width=\"1.8\" cx=\"38\" cy=\"38\" r=\"29\"/>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FFF212'}\">\n      <circle  cx=\"38\" cy=\"38\" r=\"26\" />\n    </g>\n  <line fill=\"none\" stroke=\"#E6E7E8\" stroke-width=\"0.380524\" x1=\"0\" y1=\"0\" x2=\"4\" y2= \"4\" />\n  <polyline fill=\"none\" stroke=\"#D2D3D5\" stroke-width=\"0.380524\" points=\"4,72 4,4 72,4 \"/>\n\n\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#000'}\">\n    <text x=\"37\" y=\"42\" style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"12\" font-family=\"Droid Sans\">YELLOW</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : 'none'}\">\n    <text x=\"37\" y=\"42\" style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"12\" font-family=\"Droid Sans\">YELLOW</text>\n  </g>\n </g>\n</svg>\n</md-button>\n\n\n","storeOutMessages":false,"fwdInMessages":false,"x":687.0000305175781,"y":985.0001678466797,"wires":[["8df50ecf.f3519"]]},{"id":"5758b87f.d67c28","type":"ui_template","z":"e9c87fc7.158ac","group":"6804b940.578858","name":"Green Starter","order":9,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg  width=\"105px\" height=\"105px\" version=\"1.1\" \nviewBox=\"0 0 76 76\">\n <g id=\"Button_1\">\n  <rect fill=\"#4B4B4D\" width=\"76\" height=\"76\"/>\n\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#1A1A1A' : '#848688'}\">\n  <polygon stroke=\"black\" stroke-width=\"0.380524\" points=\"72,72 4,72 0,76 76,76 76,0 72,4 \"/>\n    </g>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#848688' : '#1A1A1A'}\">\n  <polygon  points=\"4,4 72,4 76,0 0,0 0,76 4,72 \"/>\n    </g>\n    <g ng-style=\"{stroke: (msg.payload || 0) % 2 === 0 ? '#E6E7E8' : 'black'}\">\n  <line fill=\"none\" stroke-width=\"0.380524\" x1=\"0\" y1=\"0\" x2=\"4\" y2= \"4\" />\n    </g>\n\n  <circle fill=\"none\" stroke=\"green\" stroke-width=\"1.8\" cx=\"38\" cy=\"38\" r=\"29\"/>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : 'green'}\">\n      <circle  cx=\"38\" cy=\"38\" r=\"26\" />\n    </g>\n  <polyline fill=\"none\" stroke=\"#D2D3D5\" stroke-width=\"0.380524\" points=\"4,72 4,4 72,4 \"/>\n\n\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">RUN</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : 'none'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">RUN</text>\n  </g>\n </g>\n</svg>\n</md-button>\n\n\n","storeOutMessages":false,"fwdInMessages":false,"x":1136.9999389648438,"y":493.00006103515625,"wires":[["9dc11ae.647c7e8"]]},{"id":"cc66dcaf.3845b","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":732.8334045410156,"y":440.00006103515625,"wires":[["e6f7e93f.f127a8"]]},{"id":"8df50ecf.f3519","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":685.8334350585938,"y":945.0001068115234,"wires":[["7c3b38c7.aff0b8"]]},{"id":"9dc11ae.647c7e8","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = true;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1134.8333740234375,"y":427,"wires":[["5758b87f.d67c28","2200fa00.c3d026"]]},{"id":"22f2f0d2.f1a56","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === true ){\n    msg.payload = false;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1128.8333740234375,"y":554.0001525878906,"wires":[["2200fa00.c3d026","5758b87f.d67c28"]]},{"id":"64e2536f.5c861c","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":684.8335876464844,"y":751.0000610351562,"wires":[["3aa64870.450488"]]},{"id":"9d442ad6.1e0d58","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":680.8335876464844,"y":847.0000610351562,"wires":[["1be5c204.a6a54e"]]},{"id":"2d9fda23.f05816","type":"ui_template","z":"e9c87fc7.158ac","group":"eec8bbd5.3032a8","name":"ON/OFF 2","order":14,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg  width=\"105px\" height=\"105px\" version=\"1.1\" \nviewBox=\"0 0 76 76\">\n <g id=\"Button_1\">\n  <rect fill=\"#4B4B4D\" width=\"76\" height=\"76\"/>\n\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#1A1A1A' : '#848688'}\">\n  <polygon stroke=\"black\" stroke-width=\"0.380524\" points=\"72,72 4,72 0,76 76,76 76,0 72,4 \"/>\n    </g>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#848688' : '#1A1A1A'}\">\n  <polygon  points=\"4,4 72,4 76,0 0,0 0,76 4,72 \"/>\n    </g>\n    <g ng-style=\"{stroke: (msg.payload || 0) % 2 === 0 ? '#E6E7E8' : 'black'}\">\n  <line fill=\"none\" stroke-width=\"0.380524\" x1=\"0\" y1=\"0\" x2=\"4\" y2= \"4\" />\n    </g>\n\n <circle fill=\"none\" stroke=\"#FFF212\" stroke-width=\"1.8\" cx=\"38\" cy=\"38\" r=\"29\"/>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'red' : 'green'}\">\n      <circle  cx=\"38\" cy=\"38\" r=\"26\" />\n    </g>\n  <polyline fill=\"none\" stroke=\"#D2D3D5\" stroke-width=\"0.380524\" points=\"4,72 4,4 72,4 \"/>\n\n\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">ON</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : 'none'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">OFF</text>\n  </g>\n </g>\n</svg>\n</md-button>\n\n\n","storeOutMessages":false,"fwdInMessages":false,"x":739,"y":626.3334350585938,"wires":[["c1273bd8.791238"]]},{"id":"c1273bd8.791238","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":722.8334655761719,"y":568.3334121704102,"wires":[["2d9fda23.f05816"]]},{"id":"78d7f53b.1d65cc","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key 1","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '1' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"149.999\" font-family=\"Arial\">1</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":57.8336181640625,"y":361.33338165283203,"wires":[["c492232e.7f49a"]]},{"id":"a2e331c8.f38e6","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key 6","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '6' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"149.999\" font-family=\"Arial\">6</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":318.8335876464844,"y":414,"wires":[["c492232e.7f49a"]]},{"id":"9ed04b81.4f0228","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key 3","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '3' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"149.999\" font-family=\"Arial\">3</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":323.8336181640625,"y":363,"wires":[["c492232e.7f49a","ea0da94.077f558"]]},{"id":"4ca71760.379188","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key 4","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '4' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"149.999\" font-family=\"Arial\">4</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":54.833587646484375,"y":417.00000762939453,"wires":[["c492232e.7f49a"]]},{"id":"b888abba.b60928","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key 5","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '5' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"149.999\" font-family=\"Arial\">5</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":true,"fwdInMessages":true,"x":179.83358764648438,"y":418,"wires":[["c492232e.7f49a"]]},{"id":"a612d7b1.a22c88","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key 7","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '7' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"149.999\" font-family=\"Arial\">7</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":53.8336181640625,"y":473.00000762939453,"wires":[["c492232e.7f49a"]]},{"id":"9a18701d.af165","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key 2","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '2' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"149.999\" font-family=\"Arial\">2</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":190.83358764648438,"y":361.00003814697266,"wires":[["c492232e.7f49a"]]},{"id":"da491fd3.1597f","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key 8","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '8' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"149.999\" font-family=\"Arial\">8</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":191.83358764648438,"y":471.0000305175781,"wires":[["c492232e.7f49a"]]},{"id":"5a80a3d6.a1a66c","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key 9","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '9' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"149.999\" font-family=\"Arial\">9</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":322.8335876464844,"y":476.0000305175781,"wires":[["c492232e.7f49a"]]},{"id":"1419c2ce.1e4b6d","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key *","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: 'Reset' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"42\" y=\"265\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"300\" font-family=\"Arial\">*</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":45.833587646484375,"y":531.0000915527344,"wires":[["c492232e.7f49a"]]},{"id":"d52195b8.e3f538","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key 0","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '0' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"149.999\" font-family=\"Arial\">0</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":191.83358764648438,"y":531.0000915527344,"wires":[["c492232e.7f49a"]]},{"id":"70f039d6.d8f0b8","type":"ui_template","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","name":"Key #","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: 'Enter' })\"> \n\n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n\n <g id=\"Keypad\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\"  fill=\"#E6E6E6\" font-weight=\"normal\" font-size=\"149.999\" font-family=\"Arial\">#</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":true,"fwdInMessages":true,"x":323.8335876464844,"y":533.0000915527344,"wires":[["c492232e.7f49a"]]},{"id":"2e158302.94466c","type":"ui_template","z":"e9c87fc7.158ac","group":"521abf71.e9812","name":"E-Stop","order":0,"width":"4","height":"4","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n\n<svg xmlns=\"http://www.w3.org/2000/svg\" xml:space=\"preserve\" width=\"210px\" height=\"210px\" version=\"1.1\" shape-rendering=\"geometricPrecision\" text-rendering=\"geometricPrecision\" image-rendering=\"optimizeQuality\" fill-rule=\"evenodd\" clip-rule=\"evenodd\"\nviewBox=\"0 0 304 304\"\n xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n <g id=\"Layer_x0020_1\">\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'red' : '#B80000'}\">\n    <circle  stroke=\"#A10000\" stroke-width=\"2.08345\" cx=\"152\" cy=\"152\" r=\"150\"/>\n  </g>\n  <path fill=\"#A10000\" stroke=\"#A10000\" stroke-width=\"4.00037\" d=\"M152 2c83,0 150,67 150,150 0,83 -67,150 -150,150 -83,0 -150,-67 -150,-150 0,-83 67,-150 150,-150zm0 28c67,0 122,55 122,122 0,67 -55,122 -122,122 -67,0 -122,-55 -122,-122 0,-67 55,-122 122,-122z\"/>\n  <path fill=\"#B80000\" stroke=\"#A10000\" stroke-width=\"2.08345\" d=\"M152 2c83,0 150,67 150,150 0,83 -67,150 -150,150 -83,0 -150,-67 -150,-150 0,-83 67,-150 150,-150zm0 13c76,0 137,61 137,137 0,76 -61,137 -137,137 -76,0 -137,-61 -137,-137 0,-76 61,-137 137,-137z\"/>\n\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : '000'}\">\n    <text x=\"150\" y=\"139\"  style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"99.9999\" font-family=\"Arial\">E</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : '000'}\">\n    <text x=\"155\" y=\"219\"  style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"66.6658\" font-family=\"Arial\">STOP</text>\n  </g>\n \n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"150\" y=\"125\"  style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"50.0\" font-family=\"Arial\">TAP TO</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"152\" y=\"215\"  style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"50.0\" font-family=\"Arial\">RESET</text>\n  </g>\n\n\n\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":128.83358764648438,"y":172.00001525878906,"wires":[["d970963d.aea3e8"]]},{"id":"d970963d.aea3e8","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":127.83358764648438,"y":103.00001525878906,"wires":[["2e158302.94466c"]]},{"id":"46f3d44e.bfcfec","type":"ui_template","z":"e9c87fc7.158ac","group":"521abf71.e9812","name":"Push-Red","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Button_Push\">\n  <rect fill=\"#333333\" width=\"200\" height=\"200\"/>\n  <circle fill=\"#999\" cx=\"100\" cy=\"100\" r=\"100\"/>\n  <circle fill=\"#666\" cx=\"100\" cy=\"100\" r=\"97\"/>\n  <circle fill=\"red\" stroke=\"#4D4D4D\" stroke-width=\"2.99999\" cx=\"100\" cy=\"100\" r=\"87\"/>\n  <path fill=\"#B3B3B3\" fill-opacity=\"0.501961\" d=\"M100 26c41,0 74,33 74,74 0,41 -33,74 -74,74 -41,0 -74,-33 -74,-74 0,-41 33,-74 74,-74zm0 15c33,0 59,26 59,59 0,33 -26,59 -59,59 -33,0 -59,-26 -59,-59 0,-33 26,-59 59,-59z\"/>\n  <path fill=\"none\" fill-opacity=\"0.501961\" d=\"M100 58c23,0 42,19 42,42 0,23 -19,42 -42,42 -23,0 -42,-19 -42,-42 0,-23 19,-42 42,-42zm0 8c18,0 33,15 33,33 0,18 -15,33 -33,33 -18,0 -33,-15 -33,-33 0,-18 15,-33 33,-33z\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#1A1A1A'}\">\n    <path fill-opacity=\"0.501961\" stroke=\"#4D4D4D\" stroke-width=\"2.99999\" stroke-opacity=\"0.501961\" d=\"M100 13c48,0 87,39 87,87 0,48 -39,87 -87,87 -48,0 -87,-39 -87,-87 0,-48 39,-87 87,-87z\"/>\n  </g>\n </g>\n</svg>\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":411.8335876464844,"y":107.66667175292969,"wires":[["3842029d.230b9e"]]},{"id":"3842029d.230b9e","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":403.8335876464844,"y":51.333343505859375,"wires":[["46f3d44e.bfcfec"]]},{"id":"2101eca0.727384","type":"ui_template","z":"e9c87fc7.158ac","group":"521abf71.e9812","name":"Push-Yellow","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Button_Push\">\n  <rect fill=\"#333333\" width=\"200\" height=\"200\"/>\n  <circle fill=\"#999\" cx=\"100\" cy=\"100\" r=\"100\"/>\n  <circle fill=\"#666\" cx=\"100\" cy=\"100\" r=\"97\"/>\n  <circle fill=\"yellow\" stroke=\"#4D4D4D\" stroke-width=\"2.99999\" cx=\"100\" cy=\"100\" r=\"87\"/>\n  <path fill=\"#B3B3B3\" fill-opacity=\"0.501961\" d=\"M100 26c41,0 74,33 74,74 0,41 -33,74 -74,74 -41,0 -74,-33 -74,-74 0,-41 33,-74 74,-74zm0 15c33,0 59,26 59,59 0,33 -26,59 -59,59 -33,0 -59,-26 -59,-59 0,-33 26,-59 59,-59z\"/>\n  <path fill=\"none\" fill-opacity=\"0.501961\" d=\"M100 58c23,0 42,19 42,42 0,23 -19,42 -42,42 -23,0 -42,-19 -42,-42 0,-23 19,-42 42,-42zm0 8c18,0 33,15 33,33 0,18 -15,33 -33,33 -18,0 -33,-15 -33,-33 0,-18 15,-33 33,-33z\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#1A1A1A'}\">\n    <path fill-opacity=\"0.501961\" stroke=\"#4D4D4D\" stroke-width=\"2.99999\" stroke-opacity=\"0.501961\" d=\"M100 13c48,0 87,39 87,87 0,48 -39,87 -87,87 -48,0 -87,-39 -87,-87 0,-48 39,-87 87,-87z\"/>\n  </g>\n </g>\n</svg>\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":618.0001831054688,"y":112.66667175292969,"wires":[["ef838d6a.a3b75"]]},{"id":"ef838d6a.a3b75","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":600.0001831054688,"y":56.333343505859375,"wires":[["2101eca0.727384"]]},{"id":"36055570.5b769a","type":"ui_template","z":"e9c87fc7.158ac","group":"521abf71.e9812","name":"Push-Green","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Button_Push\">\n  <rect fill=\"#333333\" width=\"200\" height=\"200\"/>\n  <circle fill=\"#999\" cx=\"100\" cy=\"100\" r=\"100\"/>\n  <circle fill=\"#666\" cx=\"100\" cy=\"100\" r=\"97\"/>\n  <circle fill=\"green\" stroke=\"#4D4D4D\" stroke-width=\"2.99999\" cx=\"100\" cy=\"100\" r=\"87\"/>\n  <path fill=\"#B3B3B3\" fill-opacity=\"0.501961\" d=\"M100 26c41,0 74,33 74,74 0,41 -33,74 -74,74 -41,0 -74,-33 -74,-74 0,-41 33,-74 74,-74zm0 15c33,0 59,26 59,59 0,33 -26,59 -59,59 -33,0 -59,-26 -59,-59 0,-33 26,-59 59,-59z\"/>\n  <path fill=\"none\" fill-opacity=\"0.501961\" d=\"M100 58c23,0 42,19 42,42 0,23 -19,42 -42,42 -23,0 -42,-19 -42,-42 0,-23 19,-42 42,-42zm0 8c18,0 33,15 33,33 0,18 -15,33 -33,33 -18,0 -33,-15 -33,-33 0,-18 15,-33 33,-33z\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#1A1A1A'}\">\n    <path fill-opacity=\"0.501961\" stroke=\"#4D4D4D\" stroke-width=\"2.99999\" stroke-opacity=\"0.501961\" d=\"M100 13c48,0 87,39 87,87 0,48 -39,87 -87,87 -48,0 -87,-39 -87,-87 0,-48 39,-87 87,-87z\"/>\n  </g>\n </g>\n</svg>\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":423.00018310546875,"y":219.66666412353516,"wires":[["30fd6157.87537e"]]},{"id":"30fd6157.87537e","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":405.00018310546875,"y":163.33333587646484,"wires":[["36055570.5b769a"]]},{"id":"6eee0717.9d97e8","type":"ui_template","z":"e9c87fc7.158ac","group":"521abf71.e9812","name":"Push-Blue","order":0,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Button_Push\">\n  <rect fill=\"#333333\" width=\"200\" height=\"200\"/>\n  <circle fill=\"#999\" cx=\"100\" cy=\"100\" r=\"100\"/>\n  <circle fill=\"#666\" cx=\"100\" cy=\"100\" r=\"97\"/>\n  <circle fill=\"blue\" stroke=\"#4D4D4D\" stroke-width=\"2.99999\" cx=\"100\" cy=\"100\" r=\"87\"/>\n  <path fill=\"#B3B3B3\" fill-opacity=\"0.501961\" d=\"M100 26c41,0 74,33 74,74 0,41 -33,74 -74,74 -41,0 -74,-33 -74,-74 0,-41 33,-74 74,-74zm0 15c33,0 59,26 59,59 0,33 -26,59 -59,59 -33,0 -59,-26 -59,-59 0,-33 26,-59 59,-59z\"/>\n  <path fill=\"none\" fill-opacity=\"0.501961\" d=\"M100 58c23,0 42,19 42,42 0,23 -19,42 -42,42 -23,0 -42,-19 -42,-42 0,-23 19,-42 42,-42zm0 8c18,0 33,15 33,33 0,18 -15,33 -33,33 -18,0 -33,-15 -33,-33 0,-18 15,-33 33,-33z\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#1A1A1A'}\">\n    <path fill-opacity=\"0.501961\" stroke=\"#4D4D4D\" stroke-width=\"2.99999\" stroke-opacity=\"0.501961\" d=\"M100 13c48,0 87,39 87,87 0,48 -39,87 -87,87 -48,0 -87,-39 -87,-87 0,-48 39,-87 87,-87z\"/>\n  </g>\n </g>\n</svg>\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":608.0001831054688,"y":222.66666412353516,"wires":[["6578f46d.658a4c"]]},{"id":"6578f46d.658a4c","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":590.0001831054688,"y":166.33333587646484,"wires":[["6eee0717.9d97e8"]]},{"id":"a6711d56.fe8bf","type":"ui_template","z":"e9c87fc7.158ac","group":"521abf71.e9812","name":"Push-Garage","order":0,"width":"8","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n\n<svg  width=\"360px\" height=\"90px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long\">\n  <rect fill=\"#333333\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#E6E6E6' : '#333'}\">\n    <rect width=\"800\" height=\"200\" rx=\"100\" ry=\"100\"/>\n  </g>\n  <rect fill=\"#666666\" x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#E6E6E6' : '#1A1A1A'}\">\n    <text x=\"400\" y=\"125\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"75\" font-family=\"Arial\">GARAGE DOOR</text>\n  </g>\n </g>\n</svg>\n\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":878.0001220703125,"y":113.6666488647461,"wires":[["9d9a2fb8.37ad9"]]},{"id":"9d9a2fb8.37ad9","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":860.0001220703125,"y":57.33332061767578,"wires":[["a6711d56.fe8bf"]]},{"id":"cfc0fac9.0fe278","type":"ui_template","z":"e9c87fc7.158ac","group":"521abf71.e9812","name":"Push-Sidewalk","order":0,"width":"8","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n\n<svg  width=\"360px\" height=\"90px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long\">\n  <rect fill=\"#333333\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#E6E6E6' : '#333'}\">\n    <rect width=\"800\" height=\"200\" rx=\"100\" ry=\"100\"/>\n  </g>\n  <rect fill=\"#666666\" x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#E6E6E6' : '#1A1A1A'}\">\n    <text x=\"400\" y=\"125\"  style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"75\" font-family=\"Arial\">SIDEWALK LIGHTS</text>\n  </g>\n </g>\n</svg>\n\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":1109.0001220703125,"y":116.6666488647461,"wires":[["22303bdf.0b7a44"]]},{"id":"22303bdf.0b7a44","type":"function","z":"e9c87fc7.158ac","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1081.0001220703125,"y":60.33332061767578,"wires":[["cfc0fac9.0fe278"]]},{"id":"7ef6a3a2.46b33c","type":"ui_text","z":"e9c87fc7.158ac","group":"d1a897a0.6c75e8","order":0,"width":0,"height":0,"name":"Number","label":"Number:","format":"{{msg.payload}}","layout":"row-spread","x":546.8335571289062,"y":522.6667251586914,"wires":[]},{"id":"c492232e.7f49a","type":"function","z":"e9c87fc7.158ac","name":"","func":"\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":534.8335571289062,"y":437.33338165283203,"wires":[["7ef6a3a2.46b33c","ea0da94.077f558"]]},{"id":"ea0da94.077f558","type":"debug","z":"e9c87fc7.158ac","name":"","active":false,"console":"false","complete":"false","x":529.8335571289062,"y":318,"wires":[]},{"id":"5949322c.4f5eac","type":"ui_template","z":"63e53ea1.0f918","group":"867aab7c.d5b7d8","name":"blue","order":4,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":210,"y":200,"wires":[[]]},{"id":"32da85d4.b437ca","type":"ui_template","z":"63e53ea1.0f918","group":"867aab7c.d5b7d8","name":"red","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":210,"y":120,"wires":[[]]},{"id":"46b1d727.107448","type":"ui_template","z":"63e53ea1.0f918","group":"867aab7c.d5b7d8","name":"green","order":3,"width":"2","height":"2","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Hello World'})\"> \n    Green<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":210,"y":160,"wires":[[]]},{"id":"9e2ddee8.d0684","type":"ui_template","z":"63e53ea1.0f918","group":"867aab7c.d5b7d8","name":"","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#16a085\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":220,"y":280,"wires":[[]]},{"id":"8c34955d.29ed68","type":"ui_template","z":"63e53ea1.0f918","group":"867aab7c.d5b7d8","name":"yellow","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\" ng-click=\"send({payload: 'Hello World'})\"> \n    yellow<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":210,"y":240,"wires":[[]]},{"id":"5c76c74a.506b88","type":"ui_template","z":"63e53ea1.0f918","group":"867aab7c.d5b7d8","name":"on","order":7,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#34495e\" ng-click=\"send({payload: 'Hello World'})\"> \n    On\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":210,"y":320,"wires":[[]]},{"id":"75439d3f.f83334","type":"ui_template","z":"63e53ea1.0f918","group":"867aab7c.d5b7d8","name":"off","order":8,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#8e44ad\" ng-click=\"send({payload: 'Hello World'})\"> \n    Off\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":210,"y":360,"wires":[[]]},{"id":"8e6c08e4.bcfce8","type":"ui_template","z":"63e53ea1.0f918","group":"867aab7c.d5b7d8","name":"BtnStyle","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":80,"y":120,"wires":[[]]},{"id":"c132204d.fdf52","type":"function","z":"842d959e.cd1fe8","name":"","func":"if (msg.payload===false) msg.payload=\"999\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["51c0388b.b63c08"]]},{"id":"f3fc9f78.46e9c","type":"ui_switch","z":"da983a4a.0e0028","name":"btn_radio","label":"Radio","group":"b233522a.9ac0a","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-music","oncolor":"red","offvalue":"false","offvalueType":"str","officon":"fa-music","offcolor":"lightgray","x":100,"y":140,"wires":[[]]},{"id":"cd967f27.6235b","type":"function","z":"da983a4a.0e0028","name":"lightbulb color","func":"if (msg.payload==\"true\") msg.payload=\"gold\";\nif (msg.payload==\"false\") msg.payload=\"LightGrey\";\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["dea099ed.26b948"]]},{"id":"dea099ed.26b948","type":"ui_text","z":"da983a4a.0e0028","group":"d767d50b.117738","order":3,"width":"1","height":"1","name":"icn_Stehlampe","label":"","format":"<font color={{msg.payload}}><i class=\"fa fa-lightbulb-o fa-2x\"></i></font>","layout":"row-center","x":520,"y":240,"wires":[]},{"id":"ea63d159.89e1a","type":"ui_switch","z":"da983a4a.0e0028","name":"btn_stehlampe","label":"Stehlampe","group":"d767d50b.117738","order":2,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":120,"y":200,"wires":[["cd967f27.6235b","b61f9.5eecde078"]]},{"id":"b61f9.5eecde078","type":"function","z":"da983a4a.0e0028","name":"an/aus","func":"if (msg.payload==\"true\") msg.payload=\"an\";\nif (msg.payload==\"false\") msg.payload=\"aus\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["f4d4b63c.db5458"]]},{"id":"f4d4b63c.db5458","type":"ui_text","z":"da983a4a.0e0028","group":"d767d50b.117738","order":1,"width":0,"height":0,"name":"txt_stehlampe","label":"Stehlampe ist ","format":"{{ msg.payload}}","layout":"row-left","x":520,"y":280,"wires":[]},{"id":"56754b44.5f2ba4","type":"ui_button","z":"da983a4a.0e0028","name":"","group":"3e068867.33a7d8","order":1,"width":0,"height":0,"passthru":false,"label":"1 Std KiKa","color":"","bgcolor":"","icon":"fa-child","payload":"","payloadType":"str","topic":"","x":110,"y":440,"wires":[["47fc941a.5f4f2c","3acdb295.ffa51e"]]},{"id":"47fc941a.5f4f2c","type":"function","z":"da983a4a.0e0028","name":"f_radio_off","func":"msg.payload=\"false\"\nreturn msg;","outputs":"1","noerr":0,"x":290,"y":440,"wires":[["f3fc9f78.46e9c"]]},{"id":"3acdb295.ffa51e","type":"delay","z":"da983a4a.0e0028","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":480,"wires":[["e162136a.62157","88e0f4de.477008"]]},{"id":"ea6c75fa.23f4b8","type":"ui_switch","z":"da983a4a.0e0028","name":"btn_tv","label":"TV","group":"b233522a.9ac0a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-tv","oncolor":"red","offvalue":"false","offvalueType":"str","officon":"fa-tv","offcolor":"lightgray","x":90,"y":80,"wires":[[]]},{"id":"e162136a.62157","type":"function","z":"da983a4a.0e0028","name":"f_tv_on","func":"msg.payload=\"true\"\nreturn msg;","outputs":"1","noerr":0,"x":420,"y":480,"wires":[["ea6c75fa.23f4b8"]]},{"id":"88e0f4de.477008","type":"delay","z":"da983a4a.0e0028","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":520,"wires":[["66a95734.cbf758","2d19ae4d.4d1942"]]},{"id":"66a95734.cbf758","type":"exec","z":"da983a4a.0e0028","command":"dummy","addpay":true,"append":"","useSpawn":"","timer":"","name":"TV>Chn>33","x":430,"y":520,"wires":[[],[],[]]},{"id":"2d19ae4d.4d1942","type":"delay","z":"da983a4a.0e0028","name":"1h","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":560,"wires":[["ce4e37eb.90d5b8"]]},{"id":"ce4e37eb.90d5b8","type":"function","z":"da983a4a.0e0028","name":"f_tv_off","func":"msg.payload=\"false\"\nreturn msg;","outputs":"1","noerr":0,"x":420,"y":560,"wires":[["ea6c75fa.23f4b8"]]},{"id":"9c806f51.e313d","type":"ui_text","z":"da983a4a.0e0028","group":"3e068867.33a7d8","order":2,"width":0,"height":0,"name":"","label":"=> Radio aus => TV an => TV-Kanal-33 => warten (Demo 10s) => TV aus","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":400,"wires":[]},{"id":"e01e27b8.679d78","type":"ui_template","z":"842d959e.cd1fe8","group":"cfe70b9.246aaf8","name":"reboot","order":2,"width":"6","height":"2","format":"\n<md-button class=\"arial vibrate filled touched bigfont rounded\" style=\"background-color:#ff9933\" ng-click=\"send({payload: 'Neustart'})\"> \n    Reboot<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"x":130,"y":460,"wires":[["2a58f635.63c65a","acdf66a9.c42618"]]},{"id":"b57c8aa9.e76bf8","type":"ui_template","z":"842d959e.cd1fe8","group":"cfe70b9.246aaf8","name":"poweroff","order":3,"width":"6","height":"2","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#ff0000\" ng-click=\"send({payload: 'Shutdown'})\"> \n    PowerOff<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"x":140,"y":500,"wires":[["69fed31e.302ccc"]]},{"id":"1b1b1a89.f04c65","type":"ui_template","z":"842d959e.cd1fe8","group":"cfe70b9.246aaf8","name":"BtnStyle","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 1 !important;\n      margin: 1 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n\n   .arial { \n   icon: fa-refresh; \n}  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":false,"fwdInMessages":false,"x":100,"y":420,"wires":[[]]},{"id":"ee76bb68.c84908","type":"ping","z":"842d959e.cd1fe8","name":"LenovoTab","host":"192.168.0.24","timer":"10","x":100,"y":140,"wires":[["5724cdd1.117a74"]]},{"id":"77cd9e8.c0a8d6","type":"ui_gauge","z":"842d959e.cd1fe8","name":"","group":"fa6f23f4.894bd","order":3,"width":"3","height":"3","gtype":"gage","title":"LenovoTab","label":"ms","format":"{{value | number:0}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":140,"wires":[]},{"id":"a0dc74cc.be4e58","type":"ping","z":"842d959e.cd1fe8","name":"Oli Handy","host":"192.168.0.43","timer":"10","x":100,"y":180,"wires":[["8135dcce.bf2c5"]]},{"id":"aba08448.27a1f8","type":"ui_gauge","z":"842d959e.cd1fe8","name":"","group":"fa6f23f4.894bd","order":3,"width":"3","height":"3","gtype":"gage","title":"Handy Oli","label":"ms","format":"{{value | number:0}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":180,"wires":[]},{"id":"8fa646f8.607af8","type":"inject","z":"9dc96a2e.c0e518","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":120,"wires":[["4394cebc.cf3b4"]]},{"id":"4394cebc.cf3b4","type":"function","z":"9dc96a2e.c0e518","name":"SOAP Params","func":"return { \n    \"payload\":{\"CityName\":\"Curitiba\",\"CountryName\":\"Brazil\"}\n};","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["5cd9738e.ce426c"]]},{"id":"6cedfee9.c99c8","type":"xml","z":"9dc96a2e.c0e518","name":"","attr":"","chr":"","x":490,"y":120,"wires":[["13720a76.d88956"]]},{"id":"3f862ddf.c2dc42","type":"function","z":"9dc96a2e.c0e518","name":"Result","func":"return { \"payload\": msg.payload.GetWeatherResult };","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["6cedfee9.c99c8"]]},{"id":"13720a76.d88956","type":"debug","z":"9dc96a2e.c0e518","name":"","active":true,"console":"false","complete":"false","x":590,"y":200,"wires":[]},{"id":"d70385f8.929278","type":"fritzbox-in","z":"9dc96a2e.c0e518","device":"3c271c4d.a24054","name":"Fritz","service":"urn:dslforum-org:service:WLANConfiguration:1","action":"X_AVM-DE_GetSpecificAssociatedDeviceInfoByIp","arguments":"{\"NewAssociatedDeviceIPAddress\":\"value\"}","x":510,"y":420,"wires":[["c008dbfe.2fa268"]]},{"id":"c008dbfe.2fa268","type":"debug","z":"9dc96a2e.c0e518","name":"","active":true,"console":"false","complete":"true","x":650,"y":420,"wires":[]},{"id":"30850471.cf585c","type":"inject","z":"9dc96a2e.c0e518","name":"Get .43","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":420,"wires":[["e7294b0a.554268"]]},{"id":"e7294b0a.554268","type":"function","z":"9dc96a2e.c0e518","name":"SOAP Params","func":"return { \n    \"payload\":{\n        \"NewAssociatedDeviceIPAddress\":\"192.168.0.43\"\n    }\n};","outputs":1,"noerr":0,"x":300,"y":420,"wires":[["d70385f8.929278"]]},{"id":"c70fad9a.1c288","type":"inject","z":"9dc96a2e.c0e518","name":"Get TotalAssociations","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":360,"wires":[["32b5e99d.942676"]]},{"id":"32b5e99d.942676","type":"fritzbox-in","z":"9dc96a2e.c0e518","device":"3c271c4d.a24054","name":"Fritz","service":"urn:dslforum-org:service:WLANConfiguration:1","action":"GetTotalAssociations","arguments":"{}","x":510,"y":360,"wires":[["97e67a5b.66eda8"]]},{"id":"97e67a5b.66eda8","type":"debug","z":"9dc96a2e.c0e518","name":"","active":true,"console":"false","complete":"true","x":650,"y":360,"wires":[]},{"id":"5ef5dbf1.735044","type":"fritzbox-in","z":"9dc96a2e.c0e518","device":"3c271c4d.a24054","name":"Fritz","service":"urn:dslforum-org:service:WLANConfiguration:1","action":"GetGenericAssociatedDeviceInfo","arguments":"{\"NewAssociatedDeviceIndex\":\"value\"}","x":510,"y":480,"wires":[["6e49af34.f29b8"]]},{"id":"6e49af34.f29b8","type":"debug","z":"9dc96a2e.c0e518","name":"","active":true,"console":"false","complete":"true","x":650,"y":480,"wires":[]},{"id":"81f9c6de.79dd18","type":"inject","z":"9dc96a2e.c0e518","name":"Get .24","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":480,"wires":[["87872306.bab7d"]]},{"id":"87872306.bab7d","type":"function","z":"9dc96a2e.c0e518","name":"SOAP Params","func":"return { \n    \"payload\":{\n        \"NewAssociatedDeviceIndex\":\"4\"\n    }\n};","outputs":1,"noerr":0,"x":300,"y":480,"wires":[["5ef5dbf1.735044"]]},{"id":"3fd38468.623c5c","type":"http in","z":"99eb51b9.f51bc","name":"","url":"/test1/system","method":"get","swaggerDoc":"","x":150,"y":80,"wires":[["d6b1e61.34b1218"]]},{"id":"e016a4af.b6f288","type":"http in","z":"99eb51b9.f51bc","name":"","url":"/test1/devices","method":"get","swaggerDoc":"","x":150,"y":120,"wires":[["e2fa84a.a830878"]]},{"id":"13d3070f.d9f0c9","type":"http in","z":"99eb51b9.f51bc","name":"","url":"/test1/rooms","method":"get","swaggerDoc":"","x":150,"y":160,"wires":[["78c42513.86e41c"]]},{"id":"16b28cbe.e3b2b3","type":"http response","z":"99eb51b9.f51bc","name":"","x":490,"y":120,"wires":[]},{"id":"d6b1e61.34b1218","type":"function","z":"99eb51b9.f51bc","name":"","func":"msg.payload = { \"id\": \"ISS:Test:01\", \"apiversion\": 1};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["16b28cbe.e3b2b3"]]},{"id":"e2fa84a.a830878","type":"function","z":"99eb51b9.f51bc","name":"","func":"\nvar rgbState = global.get('rgbState') || 0;\nvar rgbLevel = global.get('rgbLevel') || 0;\nvar rgbColour = global.get('rgbColour') || \"AAAAAAAA\";\nvar SysResetState = global.set('SysResetState') || 0;\nvar SysOffState = global.set('SysOffState') || 0;\n\nmsg.payload = {\"devices\": [\n{ \"id\": \"dev01\", \"name\": \"RGB Light\", \"type\": \"DevRGBLight\", \"room\": \"roomID1\", \"params\": [{\"key\": \"dimmable\", \"value\": \"1\"}, {\"key\": \"whitechannel\", \"value\": \"0\"}, {\"key\": \"Status\", \"value\": rgbState}, {\"key\": \"Level\", \"value\": rgbLevel}, {\"key\": \"color\", \"value\": rgbColour}]},\n{ \"id\": \"SysReset\", \"name\": \"SysReset\", \"type\": \"DevSwitch\", \"room\": \"noroom\", \"params\": [{\"key\": \"pulseable\", \"value\": \"1\"}, {\"key\": \"Status\", \"value\": SysResetState} ] },\n{ \"id\": \"SysPowerOff\", \"name\": \"SysPowerOff\", \"type\": \"DevSwitch\", \"room\": \"noroom\", \"params\": [{\"key\": \"pulseable\", \"value\": \"1\"}, {\"key\": \"Status\", \"value\": SysOffState} ] }\n]};\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["16b28cbe.e3b2b3"]]},{"id":"78c42513.86e41c","type":"function","z":"99eb51b9.f51bc","name":"","func":"msg.payload = {\"rooms\": [\n    { \"id\": \"roomID1\", \"name\": \"Test Room\" },\n    { \"id\": \"noroom\", \"name\": \"System\" }\n]};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["16b28cbe.e3b2b3"]]},{"id":"40bcc472.4609ec","type":"http in","z":"99eb51b9.f51bc","name":"ISS Rest Actions","url":"/test1/devices/:deviceID/action/:actionName/:actionParameter","method":"get","swaggerDoc":"","x":140,"y":240,"wires":[["7cf5798d.857be8"]]},{"id":"7cf5798d.857be8","type":"switch","z":"99eb51b9.f51bc","name":"","property":"req.params.deviceID","propertyType":"msg","rules":[{"t":"eq","v":"dev01","vt":"str"},{"t":"eq","v":"SysReset","vt":"str"},{"t":"eq","v":"SysPowerOff","vt":"str"}],"checkall":"true","outputs":3,"x":290,"y":240,"wires":[["571f76b1.7e90f8","bcb3d705.0de2d8"],["571f76b1.7e90f8","3b78b83b.feec48"],["571f76b1.7e90f8","97fe81c6.d60c5"]]},{"id":"bcb3d705.0de2d8","type":"function","z":"99eb51b9.f51bc","name":"RGB","func":"\nfunction colorLuminance(hex, lum) {\n    // Validate hex string\n    hex = String(hex).replace(/[^0-9a-f]/gi, \"\");\n    if (hex.length < 6) {\n        hex = hex.replace(/(.)/g, '$1$1');\n    }\n    lum = lum || 0;\n    // Convert to decimal and change luminosity\n    var rgb = \"#\",\n        c;\n    for (var i = 0; i < 3; ++i) {\n        c = parseInt(hex.substr(i * 2, 2), 16);\n        c = Math.round(Math.min(Math.max(0, c + (c * lum)), 255)).toString(16);\n        rgb += (\"00\" + c).substr(c.length);\n    }\n    return rgb;\n}\n\n\nswitch (msg.req.params.actionName){\n case \"setStatus\": global.set('rgbState', msg.req.params.actionParameter);  break;  \n case \"setColor\":  global.set('rgbColour', msg.req.params.actionParameter);  break; \n case \"setLevel\":  global.set('rgbLevel', msg.req.params.actionParameter);  break;\n default: break;\n}\nif (global.get('rgbState') == '0' || global.get('rgbLevel') == '0') {\n    msg.payload = 'RGB = 0,0,0';\n} else {\n\n    hexColor = colorLuminance(global.get('rgbColour').slice(2), -1+(parseInt(global.get('rgbLevel'))*0.01));\n\n    msg.payload = 'RGB = ' + parseInt(hexColor.substr(1,2), 16) + ',' + parseInt(hexColor.substr(3,2), 16) + ',' + parseInt(hexColor.substr(5,2), 16); \n    } \nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["fa4c4398.ff4bf"]]},{"id":"fa4c4398.ff4bf","type":"debug","z":"99eb51b9.f51bc","name":"","active":false,"console":"false","complete":"payload","x":650,"y":160,"wires":[]},{"id":"65f4d1de.b7c14","type":"http response","z":"99eb51b9.f51bc","name":"","x":630,"y":200,"wires":[]},{"id":"571f76b1.7e90f8","type":"function","z":"99eb51b9.f51bc","name":"","func":"msg.payload = { \"success\": true, \"errormsg\": \"ok\" };\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["65f4d1de.b7c14"]]},{"id":"5cd9738e.ce426c","type":"soap request","z":"9dc96a2e.c0e518","name":"SOAP Call","topic":"","wsdl":"5b779988.fdd518","method":"GetWeather","x":310,"y":120,"wires":[["3f862ddf.c2dc42"]]},{"id":"a8b4cc85.e2efa","type":"mqtt out","z":"99eb51b9.f51bc","name":"","topic":"system/reboot","qos":"2","retain":"false","broker":"9cc48427.d88c78","x":660,"y":280,"wires":[]},{"id":"4cb4b42a.915c5c","type":"debug","z":"842d959e.cd1fe8","name":"","active":false,"console":"false","complete":"true","x":290,"y":240,"wires":[]},{"id":"3b78b83b.feec48","type":"function","z":"99eb51b9.f51bc","name":"RST","func":"switch (msg.req.params.actionName){\n case \"setStatus\": global.set('SysResetState', msg.req.params.actionParameter);  break;  \n default: break;\n}\nif (global.get('SysResetState') == '1') {\n    msg.payload = 'RESET = 1';\n}  else {\n    msg.payload = 'RESET = 0';\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["a8b4cc85.e2efa","fa4c4398.ff4bf"]]},{"id":"2a58f635.63c65a","type":"debug","z":"842d959e.cd1fe8","name":"","active":false,"console":"false","complete":"true","x":290,"y":420,"wires":[]},{"id":"acdf66a9.c42618","type":"mqtt out","z":"842d959e.cd1fe8","name":"Reboot","topic":"system/reboot","qos":"","retain":"","broker":"9cc48427.d88c78","x":300,"y":460,"wires":[]},{"id":"dd99a90c.479148","type":"mqtt out","z":"842d959e.cd1fe8","name":"Reboot","topic":"system/reboot","qos":"","retain":"","broker":"9cc48427.d88c78","x":300,"y":280,"wires":[]},{"id":"c56d079e.9c7f28","type":"mqtt out","z":"842d959e.cd1fe8","name":"PowerOff","topic":"system/shutdown","qos":"","retain":"","broker":"9cc48427.d88c78","x":300,"y":340,"wires":[]},{"id":"69fed31e.302ccc","type":"mqtt out","z":"842d959e.cd1fe8","name":"PowerOff","topic":"system/shutdown","qos":"","retain":"","broker":"9cc48427.d88c78","x":300,"y":500,"wires":[]},{"id":"97fe81c6.d60c5","type":"function","z":"99eb51b9.f51bc","name":"OFF","func":"switch (msg.req.params.actionName){\n case \"setStatus\": global.set('SysOffState', msg.req.params.actionParameter);  break;  \n default: break;\n}\nif (global.get('SysOffState') == '1') {\n    msg.payload = 'SHUTDOWN = 1';\n}  else {\n    msg.payload = 'SHUTDOWN = 0';\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["16745231.1b8fae","fa4c4398.ff4bf"]]},{"id":"16745231.1b8fae","type":"mqtt out","z":"99eb51b9.f51bc","name":"","topic":"system/shutdown","qos":"2","retain":"false","broker":"9cc48427.d88c78","x":670,"y":320,"wires":[]},{"id":"5b9ef351.f161fc","type":"exec","z":"a8876e30.01f6f","command":"sudo shutdown -r now","addpay":false,"append":"","useSpawn":"","timer":"","name":"cmd reset","x":480,"y":100,"wires":[[],[],[]]},{"id":"b0f9617b.4f902","type":"exec","z":"a8876e30.01f6f","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"cmd off","x":480,"y":160,"wires":[[],[],[]]},{"id":"38deba32.d54786","type":"mqtt in","z":"a8876e30.01f6f","name":"Reboot","topic":"system/reboot","qos":"2","broker":"9cc48427.d88c78","x":90,"y":100,"wires":[["e6cc59a.9a802a8"]]},{"id":"e6cc59a.9a802a8","type":"function","z":"a8876e30.01f6f","name":"","func":"if ((msg.payload===\"Neustart\") || (msg.payload===\"RESET = 1\")){\n    msg.payload = \"Reboot\";    \n} else {\n    msg.payload = \"\";\n}\nreturn msg","outputs":1,"noerr":0,"x":210,"y":100,"wires":[["ca372be9.801ca8"]]},{"id":"ca372be9.801ca8","type":"switch","z":"a8876e30.01f6f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Reboot","vt":"str"}],"checkall":"true","outputs":1,"x":330,"y":100,"wires":[["5b9ef351.f161fc","3bde4eff.e12642"]]},{"id":"3bde4eff.e12642","type":"debug","z":"a8876e30.01f6f","name":"","active":true,"console":"false","complete":"payload","x":490,"y":40,"wires":[]},{"id":"ec171aec.ede7e8","type":"mqtt in","z":"a8876e30.01f6f","name":"PowOff","topic":"system/shutdown","qos":"2","broker":"9cc48427.d88c78","x":90,"y":160,"wires":[["a4574af.3d925b8"]]},{"id":"a4574af.3d925b8","type":"function","z":"a8876e30.01f6f","name":"","func":"if ((msg.payload===\"Shutdown\") || (msg.payload===\"SHUTDOWN = 1\") ) {\n    msg.payload = \"Shutdown\";    \n} else {\n    msg.payload = \"\";\n}\nreturn msg","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["59c97971.272928"]]},{"id":"59c97971.272928","type":"switch","z":"a8876e30.01f6f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Shutdown","vt":"str"}],"checkall":"true","outputs":1,"x":330,"y":160,"wires":[["b0f9617b.4f902","3bde4eff.e12642"]]},{"id":"a9bd45e.b41feb8","type":"comment","z":"da983a4a.0e0028","name":"IRSend TV-Power","info":"","x":290,"y":80,"wires":[]},{"id":"fc0926b4.074728","type":"comment","z":"da983a4a.0e0028","name":"IRSend Radio-Power","info":"","x":300,"y":140,"wires":[]},{"id":"1de361d0.9b875e","type":"comment","z":"da983a4a.0e0028","name":"PiLight send...","info":"","x":310,"y":200,"wires":[]},{"id":"85258bf1.b28388","type":"comment","z":"da983a4a.0e0028","name":"IRSend TV Ch 33","info":"","x":630,"y":520,"wires":[]},{"id":"58da028c.45200c","type":"function","z":"842d959e.cd1fe8","name":"","func":"if (msg.payload===false) msg.payload=\"999\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["ddcf8d9d.a2e18"]]},{"id":"5724cdd1.117a74","type":"function","z":"842d959e.cd1fe8","name":"","func":"if (msg.payload===false) msg.payload=\"999\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["77cd9e8.c0a8d6"]]},{"id":"8135dcce.bf2c5","type":"function","z":"842d959e.cd1fe8","name":"","func":"if (msg.payload===false) msg.payload=\"999\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["aba08448.27a1f8"]]}]